<h1>Friends</h1>

<a asp-action="requests">Requests</a>
<ul>
    @if (ViewBag.Friends != null)
    {
        foreach (var friend in (List<acebook.Models.User>)ViewBag.Friends)
        {
            <li>@friend.Name (@friend.Email)</li>
        }
    }
</ul>