<h1>Friends</h1>

<a asp-action="requests">Requests</a>
<br />
<a asp-action="not_friends_yet">Potential Friends</a>
<ul>
  @if (ViewBag.Friends != null)
  {
    foreach (var friend in (List<acebook.Models.User>)ViewBag.Friends)
    {
      <div class="friend-card">
        <div class="row g-0">
          <div class="col-md-3">
            <div class="avatar-wrapper">
              <div class="avatar-icon">@friend.Name[0]</div>
              @* Replace above with img *@
            </div>
          </div>
          <div class="col align-self-end">
            <div class="friend-card-body">
              <h5 class="card-title mt-1">@friend.Name </h5>
              <p class="card-text">@friend.Email</p>
              <div class="friend-card-footer">
                <form asp-action="DeleteFriend" method="post">
                  <input type="hidden" name="friendToDeleteId" value="@friend.Id" />
                  <button class="friend-card-btn">DELETE FRIEND</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  }
</ul>