<h1>Friends</h1>

<a asp-action="requests">Requests</a>
<br />
<a asp-action="not_friends_yet">Potential Friends</a>
<ul>
  @if (ViewBag.Friends != null)
  {
    foreach (var friend in (List<acebook.Models.User>)ViewBag.Friends)
    {
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="profile-icon d-flex justify-content-center align-items-center mx-5 my-3 fs-1 p-4 bg-primary text-white rounded-circle">@friend.Name[0]</div>
          @* Replace above with img *@
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title mt-1">@friend.Name </h5>
            <p class="card-text">@friend.Email</p>
            <form asp-action="DeleteFriend" method="post">
              <input type="hidden" name="friendToDeleteId" value="@friend.Id"/>
              <button class="submit-btn">DELETE FRIEND</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    }
  }
</ul>