<div class="nav-button-container d-flex align-items-center">
  <a class="friend-navigation-btn" asp-action="requests">Requests</a>
<a class="friend-navigation-btn" asp-action="not_friends_yet">Potential Friends</a>
</div>

<h1 class="my-4">Friends</h1>

@if (ViewBag.Friends != null)
{
  <div class="container-fluid">
    <div class="row g-4"> 
      @foreach(var friend in (List<acebook.Models.User>)ViewBag.Friends)
      {
        <div class="col-12 col-md-6 col-xl-4">
          <div class="friend-card w-100">
            <div class="row g-0 align-items-center h-100">
              <div class="col-4 d-flex justify-content-center">
                <div class="avatar-icon">@friend.Name[0]</div>
                @* Replace above with img *@
              </div>
              <div class="col-8 d-flex flex-column justify-content-between h-100 p-2">
                <div>
                  <h5 class="mb-0 text-truncate">@friend.Name</h5>
                  <p class="text-muted small text-truncate">@friend.Email</p>
                </div>
                <div class="friend-card-footer">
                  <form asp-action="DeleteFriend" method="post">
                    <input type="hidden" name="friendToDeleteId" value="@friend.Id" />
                    <button class="friend-card-remove-btn">DELETE</button>
                  </form>
                </div>
              </div> 
            </div> 
          </div>
        </div> }
    </div>
  </div>
}