<h1>Not Friends</h1>

@{bool hasFriendSuggestions = false;}

<ul>
    @if (ViewBag.NotFriends != null)
    {
        foreach (var newFriend in (List<acebook.Models.User>)ViewBag.NotFriends)
        {          
            @if(!((HashSet<int>)ViewBag.Pending).Contains(newFriend.Id))
            {
            hasFriendSuggestions = true;
            
            <li>@newFriend.Name (@newFriend.Email)
            <form action="/friends/not_friends_yet" method="post">
            <input type="hidden" name="profileId" value="@newFriend.Id"/>
            <button type="submit"> Add Friend 
            </button>
            </form>
            </li>
            }
        }
    }
    @if (!hasFriendSuggestions){
        <p>You're friends with everyone, ain't you popular.</p>
    }
</ul>