<h1>Posts</h1>
<p>This is the Posts page.</p>

<form action="/posts" method="post">
  <input type="text" name="content"/>
  <input type="submit" value="Submit"/>
</form>

@foreach (Post post in ViewBag.Posts)
{
  <p>@post.Content</p>
}
